interface {{pascalCase featureName}}Props {
    // Tambahkan properti jika diperlukan
}

const {{pascalCase featureName}} = () => {
  return (
    <div>{{pascalCase featureName}}</div>
  )
}

export default {{pascalCase featureName}}