name: CI

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      APP_KEY: base64:gSXS/Fsb0TvSyxiLhg7zrEa7Ez5y7r4KbDGoAMF96Ls=

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup PHP 8.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Setup FE
        run: pnpm install

      - name: Setup BE
        run: composer install
        working-directory: ./apps/api

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
